<!DOCTYPE html>
<html>
    {{template "header" .}}    
    {{if .IsAdmin}}
        {{template "user-admin-navbar" .}}    
    {{end}}
    <body style="background-color:rgb(244, 242, 242)">
        <div class="container">
            <h1 class="blog-top" style="width: 100%; text-align: center;">{{.Title}}</h1>
            <h3 class="mt-2 pb-2" style="width: 100%; text-align: center; ">{{.Desc}}</h3>
            {{range .BlogList}}
                {{ if .Blog.Active}}
            <div class="border mb-2" style="background-color: white;">
                {{else}}
                <div class="border mb-2" style="background-color: rgb(200, 139, 139);">
                    {{end}}
                    <!-- <div class="border mb-2" style="background-color: white;"> -->
                    <div class="card" style="width: 18rem; border: none; background-color: transparent;">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <a href="/adminUser/{{.User.ID}}">
                                    <img src="data:image/jpeg;base64,{{.UserImage}}" class="card-img-top profile-photo" alt="...">
                                </a>
                            </div>
                            <div class="col-md-10 pt-0 mt-0">
                                <div class="card-body pt-0 mt-0 like-comment-link">
                                    <a href="/adminUser/{{.User.ID}}">
                                        <p class="card-text">{{.User.FirstName}} {{.User.LastName}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 mb-1">
                        <div class="col-12 text-center">
                            <h4>{{.Blog.Name}}</h4>
                        </div>
                    </div>
                    <!-- <a href="/viewPost/{{.Blog.ID}}"> -->
                    <div class="row mt-1 mb-5 post-link">
                        <div class="col-12 text-center">
                            {{.TextHTML}}
                        </div>
                    </div>
                    <!-- </a> -->
                    <div class="container text-center mb-3">
                        <div class="row align-items-start mt-5 mb-5">
                            <div class="col like-comment-link">
                                {{if .Blog.Active}}
                                <a href="/deactivateBlog/{{.Blog.ID}}">
                                    <img src="../images/dislike.png" class="card-img-top icons-desp" alt="...">
                                    Deactivate
                                </a>
                                {{else}}
                                <a href="/activateBlog/{{.Blog.ID}}">
                                    <img src="../images/like.png" class="card-img-top icons-desp" alt="...">
                                    Activate
                                </a>
                                {{end}}
                            </div>
                            <div class="col like-comment-link">
                                {{if .Blog.Active}}
                                <a href="/adminViewPost/{{.Blog.ID}}">
                                    <img src="../images/comment.png" class="card-img-top icons-desp" alt="...">
                                    Comment
                                </a>
                                {{.CommentCnt}}
                                {{else}}
                                <a href="/deleteBlog/{{.Blog.ID}}">
                                    <img src="../images/dislike.png" class="card-img-top icons-desp" alt="...">
                                    Delete
                                </a>
                                {{end}}
                            </div>
                            {{if eq .User.Email $.MyEmail}}
                            <div class="col like-comment-link">
                                <a href="/editPost/{{.Blog.ID}}">
                                    <img src="../images/edit.png" class="card-img-top icons-desp" alt="...">
                                    Edit
                                </a>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{end}}
            </body>
        </html>
