<!DOCTYPE html>
<html>
    {{template "header" .}}
    {{template "user-navbar" .}}
    <body style="background-color:rgb(244, 242, 242)">
        <div class="container">
            <h3 class="blog-top" style="width: 100%; text-align: center;">New Post</h3>
            <form action="/addPost" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        required
                    >
                </div>
                <!-- made this tinyMCE -->
                <div class="mb-3">
                    <label for="post" class="form-label">Post</label>
                    <textarea
                        class="form-control"
                        id="post"
                        required
                        rows="15"
                        placeholder="What do you want to talk about?"
                    ></textarea>
                </div>
                <!-- add links here -->
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </body>
</html>
