<!DOCTYPE html>
<html>
    {{template "header" .}}    
    {{if .IsAdmin}}
        {{template "user-admin-navbar" .}}
    {{else}}
        {{template "user-navbar" .}}
    {{end}}
    <body style="background-color:rgb(244, 242, 242)">
        <div class="container">
            <h1 class="blog-top" style="width: 100%; text-align: center;">{{.Title}}</h1>
            <h3 class="mt-2 pb-2" style="width: 100%; text-align: center; ">{{.Desc}}</h3>
            {{range .BlogList}}
            <div class="border mb-2" style="background-color: white;">
                <div class="card" style="width: 18rem; border: none;">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img src="data:image/jpeg;base64,{{.UserImage}}" class="card-img-top profile-photo" alt="...">
                        </div>
                        <div class="col-md-10 pt-0 mt-0">
                            <div class="card-body pt-0 mt-0">
                                <p class="card-text">{{.User.FirstName}} {{.User.LastName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1 mb-1">
                    <div class="col-12 text-center">
                        <h4>{{.Blog.Name}}</h4>
                    </div>
                </div>
                <!-- <a href="/viewPost/{{.Blog.ID}}"> -->
                <div class="row mt-1 mb-5 post-link">
                    <div class="col-12 text-center">
                        {{.TextHTML}}
                    </div>
                </div>
                <!-- </a> -->
                <div class="container text-center mb-3">
                    <div class="row align-items-start">
                        <div class="col like-comment-link">
                            <a href="/addLike/{{.Blog.ID}}">
                                {{if .Liked}}
                                <img src="../images/liked.png" class="card-img-top icons-desp" alt="...">
                                {{else}}
                                <img src="../images/like.png" class="card-img-top icons-desp" alt="...">
                                {{end}}
                                Like
                            </a>
                            {{.LikeCnt}}
                        </div>
                        <div class="col like-comment-link">
                            <a href="/viewPost/{{.Blog.ID}}">
                                <img src="../images/comment.png" class="card-img-top icons-desp" alt="...">
                                Comment
                            </a>
                            {{.CommentCnt}}
                        </div>
                        {{if eq .User.Email $.MyEmail}}
                        <div class="col like-comment-link">
                            <a href="/editPost/{{.Blog.ID}}">
                                <img src="../images/edit.png" class="card-img-top icons-desp" alt="...">
                                Edit
                            </a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
            {{end}}
        </body>
    </html>
