<!DOCTYPE html>
<html>
    {{template "header" .}}
    {{template "user-navbar" .}}
    <body style="background-color:rgb(244, 242, 242)">
        <div class="container">
            <h1 class="" style="width: 100%; text-align: center; margin: 12% 0 0 0; ">{{.Title}}</h1>
            <h3 class="mt-2 pb-2" style="width: 100%; text-align: center; ">{{.Desc}}</h3>
            {{range .BlogList}}
            <div class="border mb-2" style="background-color: white;">
                <div class="card" style="width: 18rem; border: none;">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img
                                src="data:image/jpeg;base64,{{.UserImage}}"
                                class="card-img-top"
                                alt="..."
                                style="max-width: 40%;"
                            >
                        </div>
                        <div class="col-md-10 pt-0 mt-0">
                            <div class="card-body pt-0 mt-0">
                                <p class="card-text">{{.User.FirstName}} {{.User.LastName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1 mb-1">
                    <div class="col-12 text-center">
                        <h4>{{.Blog.Name}}</h4>
                    </div>
                </div>
                <div class="row mt-1 mb-5">
                    <div class="col-12 text-center">
                        {{.Blog.Content}}
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </body>
</html>
